* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-top {
    height: 180px;
    background-color: #0389d0;
}

#play {
    position: absolute;
    left: 62%;
    top: 100px;
    width: 70px;
}

.icon {
    margin-right: 20px
}

.peter-jump {
    position: absolute;
    text-align: center;
    width: 500px;
    top: 90px;
    left: 35%;
}

.background-bottom {
    height: 180px;
    background-color: #c89858;
}

.game-board {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#0389d0, #a3d2ec) ;
}

.pipe {
    position: absolute;
    width: 110px;
    bottom: 0;
    animation: pipe-animation 2.5s infinite linear; 
}

.peter {
    position: absolute;
    bottom: 0;
    left: 0;
    
}

.grass {
    position: absolute;
    bottom:134px;
}

.second-grass {
    position: absolute;
    left: 726px;
}

.third-grass {
    position: absolute;
    left: 1192px;
} 

.cloud {
    position: absolute;
    animation: cloud-animation 10s infinite linear;
    width: 500px;
}

.cloud-2 {
    position: absolute;
    width: 240px;
    animation: cloud-animation2 11s infinite linear;
    top: 150px;
}

.cloud-3 {
    animation: cloud-animation3 14s infinite linear;
}

.death {
    width:130px;
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
    from {
        right: -120px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
   0% {
    bottom: 0;
   }

   40% {
    bottom: 270px;
   }

   50% {
    bottom: 270px;
   }

   60% {
    bottom: 270px;
   }

   100% {
    bottom: 0;
   }
}

@keyframes cloud-animation {
    from {
        right: -240px;
    }
    to {
        right: 100%;
    }
}

@keyframes cloud-animation2 {
    from {
        right: -500px;
    }

    to {
        right: 100%;
    }
}

@keyframes cloud-animation3 {
    from {
        right: -1050px;
    }

    to {
        right: 100%;
    }
}